<form action="/store" method="POST">
    <!-- Left Widget -->
    <div class="aside">
        <h3 class="aside-title">Danh mục</h3>
        <div class="checkbox-filter">
            <div class="input-radio">
                <input type="radio" id="category-0" name="category" value="" checked>
                <label for="category-0">
                    <span></span>
                    Tất cả
                </label>
            </div>
        
            <div class="input-radio">
                <input type="radio" id="category-1" name="category" value="Đồng%20hồ%20cơ"
                    <% if (category == "Đồng hồ cơ") { %> checked <% } %>>
                <label for="category-1">
                    <span></span>
                    Đồng hồ cơ
                </label>
            </div>

            <div class="input-radio">
                <input type="radio" id="category-2" name="category" value="Đồng%20hồ%20pin"
                    <% if (category == "Đồng hồ pin") { %> checked <% } %>>
                <label for="category-2">
                    <span></span>
                    Đồng hồ pin
                </label>
            </div>

            <div class="input-radio">
                <input type="radio" id="category-3" name="category" value="Eco-Drive"
                    <% if (category == "Eco-Drive") { %> checked <% } %>>
                <label for="category-3">
                    <span></span>
                    Eco-Drive
                </label>
            </div>

            <div class="input-radio">
                <input type="radio" id="category-4" name="category" value="Đồng%20hồ%20điện%20tử"
                    <% if (category == "Đồng hồ điện tử") { %> checked <% } %>>
                <label for="category-4">
                    <span></span>
                    Đồng hồ điện tử
                </label>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->

    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Giá</h3>
        <div class="price-filter">
            <div class="input-number price-min">
                <p>Thấp nhất</p>
                <input type="number" name="min" value="<%= min %>" min="0">
            </div>
            <span>-</span>
            <div class="input-number price-min">
                <p>Cao nhất</p>
                <input type="number" name="max" value="<%= max %>" min="1">
            </div>
        </div>
    </div>
    <!-- /aside Widget -->

    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Nhà sản xuất</h3>
        <div class="checkbox-filter">
            <div class="input-radio">
                <input type="radio" id="brand-0" name="producer" value="" checked>
                <label for="brand-0">
                    <span></span>
                    Tất cả
                </label>
            </div>

            <div class="input-radio">
                <input type="radio" id="brand-1" name="producer" value="Casio"
                    <% if (producer == "Casio") { %> checked <% } %>>
                <label for="brand-1">
                    <span></span>
                    Casio
                </label>
            </div>
            <div class="input-radio">
                <input type="radio" id="brand-2" name="producer" value="Citizen"
                    <% if (producer == "Citizen") { %> checked <% } %>>
                <label for="brand-2">
                    <span></span>
                    Citizen
                </label>
            </div>
            <div class="input-radio">
                <input type="radio" id="brand-3" name="producer" value="DW"
                    <% if (producer == "DW") { %> checked <% } %>>
                <label for="brand-3">
                    <span></span>
                    DW
                </label>
            </div>
            <div class="input-radio">
                <input type="radio" id="brand-4" name="producer" value="Orient"
                    <% if (producer == "Orient") { %> checked <% } %>>
                <label for="brand-4">
                    <span></span>
                    Orient
                </label>
            </div>
            <div class="input-radio">
                <input type="radio" id="brand-5" name="producer" value="Seiko"
                    <% if (producer == "Seiko") { %> checked <% } %>>
                <label for="brand-5">
                    <span></span>
                    Seiko
                </label>
            </div>
        </div>
    </div>
    <!-- /aside Widget -->
    <br><br>
    <button type="submit" class="btn btn-danger">Lọc sản phẩm</button>
</form>